# dependencies
node_modules/

# VitePress build output
docs/dist/

# VitePress cache
docs/.vitepress

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# env files
.env
.env.*
!.env.example

# OS
.DS_Store