main[data-v-3ba277c2]{container-name:main;container-type:inline-size;width:min(920px,100% - 32px);margin:0 auto;padding:48px 0;background:#161616;border-radius:var(--border-radius);position:relative}
